
    <%- include('../user/layout/user-header.ejs') -%>

    
    <%- include('../user/layout/user-header.ejs') -%>

    <body>
        

  <div class="breadcrumb-section breadcrumb-bg ">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h2>An error occured during payment Please try later. If any amount is debited, it will be refunded soon.</h2> <a href="/">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    </body>

    <%- include('../user/layout/user-footer.ejs') -%>



    <%- include('../user/layout/user-footer.ejs') -%>

