<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>CarZHuB</title>

	<!-- favicon -->
	<!-- <link rel="shortcut icon" type="image/png" href="/homepage/assets/img/logo wh.png"> -->
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/homepage/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/homepage/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/homepage/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/homepage/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/homepage/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/homepage/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/homepage/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/homepage/assets/css/responsive.css">
	<!---zoom--->
	<link type="text/css" rel="stylesheet" href="/homepage/assets/zoom/magiczoomplus.css"/>
    <script type="text/javascript" src="/homepage/assets/zoom/magiczoomplus.js"></script>


	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>




	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	
	
	
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="/homepage/assets/img/logo wh.png" alt="" >
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li ><a href="/">Home</a>
									<!-- <ul class="sub-menu">
										<li><a href="index.html">Static Home</a></li>
										<li><a href="index_2.html">Slider Home</a></li>
									</ul> -->
								</li>
								<!-- <li><a href="#">About</a></li> -->
								<!-- <li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="404.html">404 page</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="news.html">News</a></li>
										<li><a href="shop.html">Shop</a></li>
									</ul>
								</li> -->
								<!-- <li><a href="#">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li> -->
								<!-- <li><a href="#">Contact</a></li> -->
								<li><a href="/allproducts">Shop</a>
									<!-- <ul class="sub-menu">
										<li><a href="shop.html">Shop</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="single-product.html">Single Product</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul> -->
								</li>
								
								<li><a class="user" href="#"><i class="fas fa-user-alt"></i></a>
									<ul class="sub-menu">
										<li><a href="/profile">Profile</a></li>
										<li><a href="/blockedcars">Booked Cars</a></li>
										<li><a href=""><% if(login){%> 
											<a><form action="/logout" method="post"> <button class="dropdown-item log-out" type="submit">Logout</button></form></a>
											<%}else{%>
											  <a href="/login">Login</a></li>
											  <%} %>
											</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										
										
										<a class="wishlist" href="/wishlist"><i class="far fa-heart"></i></a>

										
										
												<!-- <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a> -->
												
												
												
											
										<!-- </i></a> -->
									</div>
								</li>
								
							</ul>
						</nav>
						<!-- <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div> -->
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
	